.accounts-container{
    display: block;
    width: 50vw;
    height: 60vh;
    margin: 5vh auto;
    padding: 3em;
    background-color: burlywood;
    border-radius: 2em;
}
.accounts{
    padding: 1em 5em;

}