.transfer-form{
    margin: 1px 20em;
    padding: 3em;
    background-color: burlywood;
    border-radius: 2em;
}
.form-input{
    font-size: 1em;
    display: block;
    width: 30vw;
    padding: 1em;
    margin: 1em auto;
    border-radius: 2em;
}
.form-submit{
    font-size: 1em;
    background-color: burlywood;
    display: block;
    width: 33vw;
    padding: 1em;
    margin: 1em auto;
    border-radius: 1em;
}